@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.text-stroke {
  color: white; /* Make the text itself transparent */
  -webkit-background-clip: text; /* Clip the background to the text (works in most modern browsers) */
  background-image: linear-gradient(to right, red, blue); /* Create a gradient stroke */
  font-weight: bold; /* Optional: Make the stroke effect stand out */
  text-shadow:
      2px 2px 0 #05002c,  /* Black shadow on the right and bottom */
      -2px -2px 0 #05002c, /* Black shadow on the left and top */
      2px -2px 0 #05002c,  /* Black shadow on the right and top */
      -2px 2px 0 #05002c;  /* Black shadow on the left and bottom */
}

.corebg{
  background-color: #2F3034;
  width: 100%;
color:white;
}

.contact-section {
  background-color: #f9f9f9;
  color: #333;
}

.contact-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.contact-description {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.8;
}

.contact-info p {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.contact-info i {
  margin-right: 10px;
  color: #555;
}

.form-container {
  background-color: #e5e6e8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-control {
  border: 1px solid #ced4da;
}

.btn-danger {
  background-color: #1f2937 !important;
  border: none;
  font-size: 1rem;
}

.btn-danger:hover {
  background-color: #39485d;
}

.btn-primary{
  background-color: #1f2937;
}
