.backgroundimg{
    background-image: url('../../../../public/assets/foot2.jpg');
    filter:grayscale(90%);
    /* background-color: black; */
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-size:cover;
}